
.newClass{
    font-size: large;
    color: rgba(2, 112, 39, 0.742);
    
}
.newClass2{
    font-size: large;
    color: chocolate;
    
}
.myClass{
    font-size: x-large;
    color: blue;
    background-color: rgba(226, 223, 43, 0.893);
    padding: 10px;
}
