JavaScriptInDepth/Arrowfuntion.js
JavaScriptInDepth/arrays.js
JavaScriptInDepth/conditional.js
JavaScriptInDepth/object.js
JavaScriptInDepth/prototypes.js
JavaScriptInDepth/variable.html
JavaScriptInDepth/variableData.js
JavaScriptInDepth/variableRevisit.js
class/class.py
class/constructor.py
class/digitalcar.py
class/enemy.py
class/enemy_attack.py
fraisport.py
game.js
game.py
htmlfiles/contact.html
htmlfiles/index.html
htmlfiles/index1.html
htmlfiles/maisonmasala/index.html
htmlfiles/maisonmasala/new.png
htmlfiles/maisonmasala/second.html
htmlfiles/maisonmasala/style.css
multicon.js
multiconverter.html
multiconvet.py
noteapp.py
unordered files/game.html
unordered files/index.html
unordered files/paragraph.html
unordered files/simple.py
unordered files/style.css
wordedit.py
Library/
flaskfiles/
javascriptinweb/simple.py
webServer/


