{% extends 'base.html' %}

{% block title %}
    Search
{% endblock title %}
{% block body %}
    
{% if title %}
<div class="container my-3">
    <h2>{{ legend }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for a in title %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ a }}</td>
                <td>{{ a.desc }}</td>
                <td>{{ a.date_created }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-dark" role="alert">
    No search found.
</div>
{% endif %}
   
{% endblock  %}



    

