
.newClass{
    padding: 8px;
    text-align: center;
    background-color: rgb(1, 51, 51);
    color: rgb(240, 240, 236);
    font-size: 20px;
}
#myText{
    display:block;
    margin: auto;d
    width: 180px;
    color: gray;   
}
#outer{
    width:100;
    text-align: center;
}
.inner{
    display: inline block;
}
#addItem{
    color: white;
    background-color: darkgreen;
    width: 80px;
}
#removeItem{
    color: white;
    background-color: rgb(226, 91, 8);
    text-shadow: 0ch;
    width:150px;
}
#clearAll{
    color: rgb(239, 233, 233);
    background-color: rgb(235, 5, 5);
    width: 80px;
}


